/* ***************************
        BASE
*************************** */
@import "assets/mixins";

:root {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-size: 1.6em;
}
#{$a-tags} {
  color: $blue;
  text-decoration: none;
}
#{$a-tags-hover} {
  font-weight: bold;
}
ul {
	list-style: none;
	padding: 0;
}

/* ***************************
        HEADER
*************************** */

header {
	background-color: $brown;
	color: $grey;
	text-transform: uppercase;
	@include orange-line;
	nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
		.left {

		}
		.right {
			font-size: 14px;
			justify-content: flex-end;
			padding-right: 15px;
			width: 400px;
		}
		.menu-menu-container ul {
			display: flex;
			justify-content: space-between;
		}
		.menu-item {
			justify-content: space-between;
		}

	}
	#{$a-menu} {
	  color: $grey;
	  text-decoration: none;
	}
	#{$a-menu-hover} {
	  color: $orange;
	  font-weight: normal;
	}
}

/* ***************************
        HEADER IMG
*************************** */

.header-img {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	display: flex;
	height: 100%;
	justify-content: center;
	padding: 50px;
	max-width: 100%;
}
.header-title {
	background-color: $brown;
	color: $grey;
	padding: 20px;
	text-transform: uppercase;

}

/* ***************************
        MAIN CONTENT
*************************** */

.main-container {
	margin: 20px;
}

/* ***************************
        FOOTER
*************************** */

footer {
	align-items: center;
	background-color: $brown;
	box-sizing: border-box;
	color: $grey;
	display: flex;
	flex-direction: column;
	@include orange-line;
	.footer-col-1 {
		padding: 10px;
	}
	.footer-col-2 {
		order: 3;
		padding: 10px;
	}
	.footer-col-3 {
		padding: 10px;
	}
}
