/* ***************************
		BASE
*************************** */
@import "assets/mixins";

:root {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-size: 1.6em;
}

#{$a-tags} {
	color: $blue;
	text-decoration: none;
}
#{$a-tags-hover} {
	font-weight: bold;
}
ul {
	list-style: none;
	padding: 0;
}
h1, h2 {
	font-weight: 400;
}

/* ***************************
		HEADER
*************************** */

header {
	background-color: $brown;
	color: $grey;
	text-transform: uppercase;
	@include orange-line;
	nav {
		width: 100%;
		@include flexbox;
		@include justify-content(space-between);
		.left {

		}
		.right {
			font-size: 14px;
			@include justify-content(flex-end);
			padding-right: 15px;
			width: 400px;
		}
		.menu-menu-container ul {
			@include flexbox;
			@include justify-content(space-between);
		}
		.menu-item {
			@include justify-content(space-between);
		}

	}
	#{$a-menu} {
		color: $grey;
		text-decoration: none;
	}
	#{$a-menu-hover} {
		color: $orange;
		font-weight: normal;
	}
}

/* ***************************
		HEADER IMG
*************************** */

.header-img {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	height: 100%;
	padding: 50px;
	max-width: 100%;
	@include flexbox;
	@include justify-content(center);
	div {
		background-color: $brown;
		opacity: 0.7;
		padding: 10px 30px 0;
		text-transform: uppercase;
		.header-title {
			color: $grey;
		}
	}
}

/* ***************************
		MAIN CONTENT
*************************** */

.main-container {
	margin: 20px;
}

/* ***************************
		FOOTER
*************************** */

footer {
	align-items: center;
	background-color: $brown;
	box-sizing: border-box;
	color: $grey;
	@include flexbox;
	@include flex-direction(column);
	@include orange-line;
	.footer-col-1 {
		padding: 10px;
	}
	.footer-col-2 {
		order: 3;
		padding: 10px;
	}
	.footer-col-3 {
		padding: 10px;
	}
}
