/* ***************************
		BASE
*************************** */
@import "assets/mixins";

:root {
	font-family: 'Josefin Sans', sans-serif;

	font-size: 62.5%;
}
body {
	background-color: $lightgrey;
	color: $brown;
	font-size: 16px;
	font-size: 1.6em;
}

#{$a-tags} {
	color: $blue;
	text-decoration: none;
}
#{$a-tags-hover} {
	font-weight: bold;
}
ul {
	list-style: none;
	padding: 0;
}
h1, h2 {
	font-weight: 400;
	text-transform: uppercase;
}
h1 {
	font-size: 30px;
	font-size: 3em;
}

h3 {
	font-size: 20px;
	font-size: 2.0em;
}
.flex {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	max-width: 100%;
}
.fixed {
	background-attachment: fixed;
}

/* ***************************
		HEADER
*************************** */

header {
	background-color: $brown;
	color: $lightgrey;
	text-transform: uppercase;
	@include orange-line;
	nav {
		width: 100%;
		height: 100%;
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(flex-end);
		.left {
			height: 100%;
			padding-left: 20px;

			.custom-logo {
				max-width: 190px;
				height: auto;
				padding-top: 5px;
			}
		}
		.right {
			font-size: 14px;
			@include justify-content(flex-end);
			padding-right: 20px;
			width: 400px;
		}

		.menu-menu-container ul {
			@include flexbox;
			@include justify-content(space-between);

		}
		.menu-item {
			@include justify-content(space-between);
		}

	}
	#{$a-menu} {
		color: $lightgrey;
		text-decoration: none;
	}
	#{$a-menu-hover} {
		color: $orange;
		font-weight: normal;
	}
}


/* ***************************
		HEADER IMG
*************************** */

.header-img {
	background-position: center center;
	background-size: cover;
	height: 100%;
	max-width: 100%;
	padding: 50px;
	@include flexbox;
	@include justify-content(center);
	.header-bg {
		background: rgba(38, 28, 22, 0.7);
		padding: 10px 30px 0;
		.header-title {
			color: $lightgrey;
		}
	}
}

/* ***************************
		INDEX PAGE
*************************** */

.index-img {
	@extend .header-img;
	background-attachment: initial;
	background-color: $brown;
	flex-direction: column;
	justify-content: center;
	padding: 20%;
	.header-bg {
		background: rgba(239, 155, 40, 0.7);
		margin: 0 auto;
		width: 60%;
		text-align: center;
		z-index: 100;
	}
	.index-title {
		z-index: 1000;
		img {
			max-width: 100%;
		}
	}
}

/* ***************************
		TURNING WORDS
*************************** */

.turning-words {
	margin: 0 auto;
	width: 25%;

	/*Sentence*/
	.sentence {
	     color: $lightgrey;
	     font-size: 24px;
		 font-weight: 400;
		 text-shadow: 0.5px 0.5px 0.5px $brown;
	}

	/*Horizontal Sliding*/
	.tw{
		display: inline;
	}
	 span{
		color: $orange;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		@include animation(leftToRight 10s linear infinite 0s);
	}
	.tw span:nth-child(2){
		@include animation-delay(2.5s);
	}
	.tw span:nth-child(3){
		@include animation-delay(5s);
	}
	.tw span:nth-child(4){
		@include animation-delay(7.5s);
	}


	/*leftToRight Animation*/
	@keyframes leftToRight{
		0% { opacity: 0; }
		5% { opacity: 0; @include translateX(-50px); }
		10% { opacity: 1; @include translateX(0px); }
		25% { opacity: 1; @include translateX(0px); }
		30% { opacity: 0; @include translateX(50px); }
		80% { opacity: 0; }
		100% { opacity: 0; }
	}
}


/* ***************************
		MAIN CONTENT
*************************** */

.main-container {
	margin: 20px;
}

/* ***************************
		INSTAGRAM
*************************** */

.wdi_feed_main_container {
	box-sizing: border-box;
	padding: 50px;
	max-width: 100%;
}

#wdi_feed_0 .wdi_photo_wrap_inner {
	padding: 30px;
}

/* ***************************
		ABOUT PAGE
*************************** */
.about-us {
	padding-top: 40px;
}

.contact-info {
	padding-bottom: 40px;
	.about {
		padding-top: 30px;
	}
}

/* ***************************
		CONTACT PAGE
*************************** */

.contact {
	margin: 0 auto;
	padding-top: 40px;
    display: flex;
    justify-content: center;
    width: 90%;
	.contact-title {
		font-size: 18px;
		font-size: 1.8em;
		text-align: center;
	}
}
.wpcf7 {
	max-width: 100%;
	.wpcf7-form-control {
		max-width: 100%;
		font-family: 'Josefin Sans', sans-serif;
		border: 1px solid $blue;
	}
	.wpcf7-submit {
		background-color: $blue;
		color: $lightgrey;
		padding: 10px;
		width: 100%;
	}
	.wpcf7-textarea {
		padding: 0;
		box-sizing: border-box;
	}
}

::-webkit-input-placeholder {
	color: $grey;
	font-size: 15px;
	padding: 5px;
}

:-moz-placeholder {
	color: $grey;
	font-size: 15px;
	padding: 5px;
}

::-moz-placeholder {
	color: $grey;
	font-size: 15px;
	padding: 5px;
}

:-ms-input-placeholder {
	color: $grey;
	font-size: 15px;
	padding: 5px;
}

/* ***************************
		FOOTER
*************************** */

footer {
	align-items: center;
	background-color: $brown;
	box-sizing: border-box;
	color: $lightgrey;
	font-size: 14px;
	@include flexbox;
	@include flex-direction(column);
	@include orange-line;
	.footer-col-1 {
		padding: 10px;
	}
	.footer-col-2 {
		order: 3;
		padding: 10px;
	}
	.footer-col-3 {
		padding: 10px;
		i {
			padding: 0 6px;
		}
	}
}

/* ***************************
		NOT FOUND
*************************** */

.not-found {
	background-image: url("http://kulgrej.se/wordpress/wp-content/uploads/2017/02/notfound.jpg");
	background-size: cover;
	background-color: $brown;
	background-position: center center;
	padding: 100px 0 200px;
	text-align: center;
	.not-found-text {
		color: $lightgrey;
	}
}

/* ***************************
		SEARCH
*************************** */

.search {
	.search-img {
		background-image: url("http://kulgrej.se/wordpress/wp-content/uploads/2017/02/searchimage.jpg");
	}
	a {
		color: $brown;
		&:hover {
			color: $blue;
		}
	}


}
.search-result {
	text-transform: none;

}

.list-result {
	a:hover {
		font-weight: normal;

	}
}
