/* ***************************
		TURNING WORDS
*************************** */

.turning-words {
	width: 25%;

	/*Sentence*/
	.sentence{
		font-size: 32px;
		br {
			display: none;
		}
	}

	/*Vertical Sliding*/
	.tw{
		display: inline;
		text-indent: 8px;
	}
	.tw span{
		@include animation(topToBottom 10s linear infinite 0s);
		color: $orange;
		opacity: 0;
		overflow: hidden;
		position: absolute;
	}

	.tw span:nth-child(2){
		@include animation-delay(2.5s);
	}
	.tw span:nth-child(3){
		@include animation-delay(5s);
	}
	.tw span:nth-child(4){
		@include animation-delay(7.5s);
	}

	/*topToBottom Animation*/
	@keyframes topToBottom{
		0% { opacity: 0; }
		5% { opacity: 0; @include translateY(-50px); }
		10% { opacity: 1; @include translateY(0px); }
		25% { opacity: 1; @include translateY(0px); }
		30% { opacity: 0; @include translateY(50px); }
		80% { opacity: 0; }
		100% { opacity: 0; }
	}

}
